@use '/src/sass/base/variables.scss' as *;

.works{
    padding: 60px 0 45px;
    &__wrapper{
        position: relative;
    }
    &__swiper{
        margin-top: 32px;
        &-nav{
            display: none;
        }
    }
    .swiper-slide {
        height: auto;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .swiper-pagination{
        bottom: -45px;
        line-height: 10px;
    }
    .swiper-pagination-bullet{
        margin: 0 6px !important;
        width: 10px;
        height: 10px;
        border-radius: 0%;
        opacity: 1;
        background: $dark;
        -webkit-tap-highlight-color: transparent;
        &-active{
            background: $ceramic;
        }
    }
}

@media screen and (min-width: 768px) {
    .works{
        padding: 60px 0 35px 0;
        &__swiper{
            margin-top: 45px;
        }
        .swiper-slide img{
            display: block;
            margin: 0 auto;
            width: 400px;
        }
        .swiper-pagination{
            bottom: -35px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .works{
        padding: 60px 0 30px 0;
        &__swiper{
            margin: 80px 40px 0 40px;
            &-nav{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                font-size: 24px;
                transition: 0.2s all;
                &::before{
                    width: auto;
                    margin: 0;
                }
                &:active{
                    color: $ceramic;
                }
                &-left{
                    left: 13px;
                }
                &-right{
                    right: 13px;
                }
            }
        }
        .swiper-pagination{
            bottom: -30px;
        }
    }
}
@media screen and (min-width: 1920px) {
    .works{
        padding: 100px 0 30px 0;
        &__swiper{
            margin: 80px 85px 0 85px;
            &-nav{
                &-left{
                    left: 42px;
                }
                &-right{
                    right: 42px;
                }
            }
        }
    }
}